<% if(errorMsg){ %>
  <p class="text-<%- errorMsg.color -%>"><%- errorMsg.msg -%></p>
<% } %>
<div class="p-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Tier</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user, index) => { %>
        <tr>
          <td><%- index + 1 -%></td>
          <td><%- user.username -%></td>
          <td><%- user.tier -%></td>
          <td>
            <a href="/admin/users/<%- user.id -%>/edit" class="btn text-secondary py-0">edit</a>
            <a href="/admin/users/<%- user.id -%>/delete" class="btn text-danger py-0">delete</a>
          </td>
        </tr>
      <% }) %>
      </tbody>
  </table>
</div>